#grid1 {
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

#grid2{
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

#grid3{
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

#grid4{
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

.titled-pane > .title
{
    -fx-background-color: lightblue,lightblue, #00796B;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}


#body{
    -fx-background-color: #009688;
}

#pane2{
    -fx-background-color: #FFFFFF;
}

#pane3{
    -fx-background-color: #FFFFFF;
}

#pane4{
    -fx-background-color: #FFFFFF;
}

#pane1{
    -fx-background-color: #FFFFFF;
}

.dugmeInvalid{
    -fx-background-color: red;
}

.dugmeValid{
    -fx-background-color:lightgreen;
}