#grid1 {
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

#grid2{
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

#grid3{
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}

#grid4{
    -fx-border-width: 2;
    -fx-border-radius: 10px;
}